{% extends "layout.html" %}

{% block title %}
    Find Friends
{% endblock %}

{% block main %}
<h1>Search for your dream Harvard homies!</h1>
    <form action="/find_friends" method="post">
        <div class="form-group">
            <textarea autocomplete="off" autofocus class="form-control" name="criteria" placeholder="Enter your search terms separated by a comma and a space. For example: neat, food, CS," type="text" rows="5" cols="50"></textarea>
        </div>

        <button class="btn btn-primary" type="submit">Find Friends!</button>
    </form>
{% endblock %}
