{% extends "layout.html" %}

{% block title %}
    This is Harvard House Hunting! We provide you the information you need about your semester on campus.
{% endblock %}

{% block main %}
    <h1>Hello, {{ userName[1] }}!</h1>
    <p>Feel free to start browsing houses</p>
    <p>Below are some of the houses you've most recently looked at: </p>
    <div class="form-group">
    <table>
        <thead>
            <tr>
                <th>Address</th>
                <th>Price</th>
                <th>Time to Harvard in Minutes</th>
                <th>Bedrooms</th>
                <th>Bathrooms</th>
                <th>House Type</th>
                <th>Date Viewed</th>
            </tr>
        </thead>
        <tbody>
            {% for row in shipments %}
            <tr>
                <td>{{ row.address }}</td>
                <td>{{ row.price }}</td>
                <td>{{ 20 * row.Hdistance }}</td>
                <td>{{ row.bed}}</td>
                <td>{{ row.bathroom}}</td>
                <td>{{ row.houseType}}</td>
                <td>{{ row.time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
