{% extends "layout.html" %}

{% block title %}
    Other Users
{% endblock %}

{% block main %}
    <h1>Here are some of our CACHE users that align with your search:</h1>
    <div class="form-group">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>User Info</th>
                <th>Contact Information </th>
            </tr>
        </thead>
        <tbody>
            {% for row in qu %}
            <tr>
                <td class="fftd">{{ row.firstName + " " + row.lastName }}</td>
                <td class="fftd">{{ row.personalInfo}}</td>
                <td class="fftd">{{ row.contact }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
