{% extends "layout.html" %}

{% block title %}
    User Profile
{% endblock %}

{% block main %}
<form action="/profile" method="post">
<h1> Your Profile </h1>


<div class="float-container">

  <div class="float-child">
    <div class="green"></div>
        <h4>Name:</h4>
        <p>{{ userInfo[3] + " " +  userInfo[4] }}</p>
        <br>
        <h4>Username:</h4>
        <p>{{ userInfo[1] }}</p>
        
       
  </div>

  <div class="float-child">
    
    <div class="blue">
        <h4>Personal Info:</h4>
        <p>{{ userInfo[6] }}</p>
    </div>
    <div class="blue">
      <h4>Your contact info</h4>
      <p>{{ userInfo[5] }}</p>
  </div> 
    
  </div>
    <button class="btn btn-primary" type="submit">Update Profile Here</button>
</form>
</div>


{% endblock %}
