{% extends "layout.html" %}

{% block title %}
    User Profile
{% endblock %}

{% block main %}

<h1>Tell us more about you - who do you work with? Where are you located? Are you a distributor or a receiver?</h1>
<form action="/update_profile" method="post">
        <div class="form-group">
            <textarea autocomplete ="off" autofocus class="form-control" name="description" placeholder="Who am I?" type="text" rows="5" cols="50">{{ userInfo[6] }}</textarea>
        </div>

<h2>Finally, please provide your contact info, either an email or phone number for other CACHE users to reach out to you!</h2>

        <div class="form-group">
            <textarea autocomplete ="off" autofocus class="form-control" name="contact" placeholder="Email or Phone" type="text" rows="5" cols="50">{{ userInfo[5] }}</textarea>
        </div>
        <button class="btn btn-primary" type="submit">Update Profile</button>
</form>

{% endblock %}
